'*':
	'Goatee ~plugins':
		'prefix': 'gt-plugins'
		'body': """
			{{~plugins.${1:namespace}.${2:method}(${3:options}) }}
		"""
	'Goatee addPlugin':
		'prefix': 'gt-addplugin'
		'body': """
			goatee.addPlugin("${1:foo}", ${2:bar});
		"""
	'Goatee setVar':
		'prefix': 'gt-setVar'
		'body': """
			{{~setVar("${1:key}", ${2:value}) }}
		"""